.message{
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
}

.chatMenu{
    flex: 3;
    overflow-y: scroll;
}

.chatBox{
    flex: 5.5;
    overflow-y: scroll;
}

.chatOnline{
    flex: 3.5;
    overflow-y: scroll;
}

.chatMenu_wrapper, .chatBox_wrapper, .chatOnline_wrapper{
    padding: 10px;
    height: 100%;
}

.search_input{
    width: 90%;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid gray;
    margin-top: 10px;
}

.chatBox_wrapper_bottom{
    margin-top: 10px;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.chatMessageInput{
    width: 80%;
    font-size: 14px;
    height: 90px;
    padding: 10px;
    margin-bottom: 15px;
}

.submitChat{
    width: 70px;
    height: 40px;
    background-color: teal;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
}