.sidebar_container{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}
                    
::-webkit-scrollbar-track {
   background-color: #f1f1f1;
}
                    
::-webkit-scrollbar-thumb {
    background-color: gray;
}

.sidebar_icons_list{
    padding: 5px;
}
.sidebar_list{
    list-style: none;
}

.sidebar_list_item{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    cursor:pointer;
}

.list_icon{
    margin-right: 20px;
}

.friend_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.post_bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


